.Menu {
    width: 250px !important;
    height: 600px;

    position: absolute;
     top: 50%; 
     left: 50%; 
     transform: 
     translate(-50%, -50%); 

     border-style:solid;
     border-radius: 10px;
     
     background-color: #FFFFFF !important;

     margin-top: -20px;
}

.logo {
    text-align: center;
    margin: 0;
    margin-top: -20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

p {
    margin-top: 10px;
    text-align: center;
    display: block;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* @media screen and (max-width: 600px) {
    .Menu {
        width: 100% !important;
        height: 100% !important;
        margin-left: 10px;
        border: none !important;
    }
    .logo {
        margin-left: -15px;
    }
    .imgLogoMenu {
        width: 270px !important;
        height: 100px !important;
        margin-left: 25px;
    }
    .grid {
        .grid {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
        }
    }
} */